#root {
    height: 100vh;
}

.construct{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    position: relative;
}

.header{
    position: fixed; /*위치 상단 고정*/
    top : 0px;
    margin-left: 90px;
}

.list{
    position: fixed;
    height: 50vh;
    overflow-y: scroll; /*영역 벗어나면 스크롤*/
    margin-top: 10vh;
    
}

button {
    background-color: #4CAF50; 
    border: none; 
    color: white; 
    padding: 4px 9px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 13px; 
    margin: 4px 2px; 
    cursor: pointer; /* 커서 스타일 변경 */
    border-radius: 4px; 
  }
  
  button:hover {
    opacity: 0.8; /* 마우스 오버 효과 */
  }
  
  .rowDiv{
    display: flex;
    flex-direction: row;
  }

  h3{
    margin-top: 33px;
    margin-left: 15px;
  }

